
<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/profile.php?id=61567964114361"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://www.instagram.com/wanderlust7739?igsh=Z2s2N3ltYnNiM3Y1"><i class="fa-brands fa-square-instagram"></i></a>
      <a href="https://www.linkedin.com/mwlite/feed/?trk=registration-frontend"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brand"> &copy; Wanderlust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer> 

