
<% layout("/layouts/boilerplate.ejs") %>

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <h3 class="text-center text-md-start">Creating a New Listing</h3>
      <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        
        <!-- Title Input -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Add a title</div>
        </div>
        
        <!-- Description Input -->
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" rows="3" placeholder="Add a short description" required></textarea>
          <div class="invalid-feedback">Add a short description</div>
        </div>
        
        <!-- Image Input -->
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input type="file" name="listing[image]" class="form-control" required>
          <div class="invalid-feedback">Please upload a valid image</div>
        </div>
        
        <!-- Price and Country Inputs -->
        <div class="row">
          <!-- Price -->
          <div class="col-md-6 mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" placeholder="1200" class="form-control" required>
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <!-- Country -->
          <div class="col-md-6 mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>
        
        <!-- Location Input -->
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input type="text" name="listing[location]" placeholder="Delhi" class="form-control" required>
          <div class="invalid-feedback">Location should be valid</div>
        </div>
        
        <!-- Submit Button -->
        <div class="text-center">
          <button class="btn btn-dark add-btn mt-3 px-5">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
